@media screen and (max-width: 400px) {
  .container {
    max-width: 48vh;
  }

  .btn{
    font-size: 1rem;
    padding: 3%;
  }
  #social-test {
    margin-top: -46%;
    margin-left: 93%;
    font-size: 4vh;
  }

  .h1-rules{
    font-size: 3.5rem;
    top: 5%;
  }

  #estejogo {
    padding: 1px;
    padding-top: 4%;
    font-size: 1.8rem;
  }
  
  #naoolhe {
    font-size: 34px;
    padding: 5%;
    padding-top: 1%;
    margin-left: -8%;
    margin-right: -8%;
  }

  .cat-overlay {
    width: 19.5vh;
    height: 36vh;
    top: 57%;
}

.cat--pic {
    height: 50%;
    max-width: 18rem;
    min-width: 18rem;
    margin-top: 40%;
    border: solid 7px rgb(83, 27, 67);
  }

  .fields__textboxs > input {
    height: 60px;
  }

  .fields__recovery {
    margin-bottom: 20px;
  }
}
