@media screen and (max-width: 400px) {
  .container {
    max-width: 43vh;
  }

  .btn {
    font-size: 1rem;
    padding: 2%;
  }
  #social-test {
    margin-top: -46%;
    margin-left: 93%;
    font-size: 4vh;
  }

/*   .cat-overlay {
    top: 52%;
    width: 15rem;
    height: 23rem;
  } */

  .cat--pic {
    height: 40%;
    max-width: 12rem;
    min-width: 12rem;
    margin-top: 20%;
    border: solid 7px rgb(83, 27, 67);
  }

  .title {
    font-size: 8vh;
    color: rgb(216, 240, 7);
    line-height: 1.1em;
  }
}
