* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.hidden {
  display: none;
}

.div-title {
  padding-bottom: 0%;
  text-shadow: 12px 14px 14px rgba(13, 13, 14, 0.6);
}

.title {
  font-size: 9.5vh;
  color: rgb(216, 240, 7);
  line-height: 1.1em;
}

.title-2 {
  font-size: 17vh;
}
.container {
  width: 60vh;
  height: 80vh;
  background-color: #ffffff;
  border-radius: 20px;
  background-image: url('img/catart-3.jpg');
  padding: 1rem;
  margin-top: 1%;
  box-shadow: 10px 9px 24px 2px rgba(243, 235, 235, 0.76);
  -webkit-box-shadow: 10px 9px 24px 2px rgba(0, 0, 0, 0.76);
  -moz-box-shadow: 10px 9px 24px 2px rgba(236, 227, 227, 0.76);
}

body {
  background-color: rgb(105, 24, 105);
}

.main-buttons {
  margin-top: 0%;
  margin-left: -16%;
  margin-right: -16%;
}

.btn {
  height: 22%;
  font-size: 1.6rem;
  padding: 2%;
  margin-bottom: 5%;

  cursor: pointer;
  color: #ffffff;
  background-color: rgb(105, 24, 105);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  transition: all300ms ease;
  border-radius: 20px;
}

.btn:hover {
  box-shadow: rgba(234, 235, 228, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.highscore {
  margin-bottom: -5em;
  font-size: 3.9vh;
  border-top: 1px solid black;
}

#modal--rules {
  position: absolute;
  width: 52vh;
  height: 81vh;
  margin-top: 1%;
  padding: 1rem;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #ffffff;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.h1-rules {
  position: absolute;
  top: 3%;
  font-size: 4.5rem;
  right: 0%;
  left: 0%;
}

.h2-rules {
  min-width: 80%;
  margin-top: 27%;
  margin-left: -2px;
  margin: right -15px;
  border: solid 15px rgb(105, 24, 105);
  height: 54%;
  margin-top: 25%;
  font-size: 5vh;
}

.h2-p {
  font-size: 6vh;
  margin-top: 6%;
}

#estejogo {
  padding: 1px;
  padding-top: 8%;
  font-size: 2rem;
  padding-left: 0%;
  padding-right: 0%;
}

#naoolhe {
  font-size: 35px;
  padding: 5%;
  padding-top: 8%;
  margin-left: 0rem;
  margin-right: 0rem;
}

#modal--game {
  position: absolute;
  width: 52vh;
  height: 81vh;
  margin-top: 1%;
  padding: 1rem;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #ffffff;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.cat-overlay {
  position: absolute;
  top: 56%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  background-color: white;
  padding: 7rem;
  width: 24vh;
  height: 38vh;
  background-color: #ffffff;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(40px);
  z-index: 10;
}

.cover1,
.cover2 {
  position: absolute;
  left: 1rem;
  top: 0rem;
  font-size: 5rem;
  color: #eeb928;
  cursor: pointer;
  border: none;
  background: none;
  z-index: 10;
}

.close-modal,
.close-game {
  position: absolute;
  right: 1rem;
  top: 0rem;
  font-size: 5rem;
  color: rgb(105, 24, 105);
  cursor: pointer;
  border: none;
  background: none;
  z-index: 10;
}

@font-face {
  font-family: 'Rocher';
  src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
}

.grays {
  font-palette: --Grays;
}

.purples {
  font-palette: --Purples;
}

.mint {
  font-palette: --Mint;
}

.divdifficulty {
  height: 28%;
  font-size: 55%;
  padding-top: 25%;
  margin-top: 16%;
  padding-right: 10%;
  padding-left: 10%;
  margin-left: 0%;
  margin-right: 0%;
  border: solid 7px rgb(105, 24, 105);
  background-color: #eeb928;

  box-shadow: 20px 9px 24px 2px rgba(243, 235, 235, 0.76);
  -webkit-box-shadow: 10px 9px 24px 2px rgba(0, 0, 0, 0.76);
  -moz-box-shadow: 10px 9px 24px 2px rgba(236, 227, 227, 0.76);
}

#difftext {
  margin-top: -8%;
  margin-bottom: 4%;
  font-size: 6vh;
}

.btn--difficulty {
  width: auto;
}

.button {
  font-family: Helvetica, sans-serif;
  padding: 10px 10px;
  font-size: 24px;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #eeb928;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px rgb(105, 24, 105);
}

#btn--rules {
  margin-top: 8%;
  margin-right: 0rem;
  margin-left: 0rem;
  border: solid rgb(105, 24, 105);
}

#btn--play {
  margin-top: 5%;
  margin-right: 1rem;
  margin-left: 1rem;
  border: solid rgb(105, 24, 105);
}

.button a {
  color: white;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 53px;
  text-align: center;
  text-decoration: none;
  display: block;
  position: relative;
  padding: 10px 15px;
}

.button:active {
  background-color: #acc944;
  box-shadow: 0 5px rgb(83, 27, 67);
  transform: translateY(4px);
}

.btn:active {
  background-color: rgb(83, 27, 67);
  box-shadow: 0 5px rgb(83, 27, 67);
  transform: translateY(4px);
}

.button:hover {
  background-color: #f8d063;
}

#youLost {
  position: absolute;
  font-size: 10vh;
  top: 10%;
  margin-left: 1rem;
  margin-right: 50%;
}

.cat--pic {
  height: 50%;
  max-width: 22rem;
  min-width: 22rem;
  margin-top: 40%;
  border: solid 7px rgb(83, 27, 67);
}

#displayScore {
  font-size: 49px;
  padding-top: 20px;
  border-bottom: 1px solid black;
}

#social-test {
  margin-top: -40%;
  margin-left: 93%;
  font-size: 4vh;
}

#social-test .social {
  padding-left: 0%;
}

#social-test li {
  color: rgb(253, 246, 252);
  list-style-type: none;
  display: inline-block;
  width: 4vh;
  height: 4vh;
  line-height: 30px;
  padding: 1%;
  border: 4px solid rgb(83, 27, 67);
  background-color: #20201f;
  cursor: pointer;
  border-radius: 10px;
  transition: ease 0.3s;
}

#social-test li:hover {
  color: #eeb928;
}

body {
  font-family: 'Rocher';
  text-align: center;
  font-size: 40px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@font-palette-values --Grays {
  font-family: Rocher;
  base-palette: 9;
}

@font-palette-values --Purples {
  font-family: Rocher;
  base-palette: 6;
}

@font-palette-values --Mint {
  font-family: Rocher;
  base-palette: 7;
}
