* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.hidden {
  display: none;
}

.div-title {
  padding-bottom: 0%;
}

.title {
  font-size: 8vh;
  color: rgb(216, 240, 7);
  line-height: 1.2em;
  text-shadow: 12px 14px 14px rgba(13, 13, 14, 0.6);
}

.title-2 {
  font-size: 14vh;
  /* text-shadow: 12px 14px 20px rgba(13, 13, 14, 0.6); */
}
.container {
  width: 45vh;
  height: 70vh;
  background-color: #ffffff;
  border-radius: 20px;
  background-image: url('img/catart-3.jpg');
  padding: 1rem;
  margin-top: -2%;
  box-shadow: 10px 9px 24px 2px rgba(243, 235, 235, 0.76);
  -webkit-box-shadow: 10px 9px 24px 2px rgba(0, 0, 0, 0.76);
  -moz-box-shadow: 10px 9px 24px 2px rgba(236, 227, 227, 0.76);
}

body {
  background-color: rgb(105, 24, 105);
}



#modal--rules {
  position: absolute;
  width: 43vh;
  /* max-width: 35vh; */
  height: 70vh;
  margin-top: -2%;
  padding: 1rem;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #ffffff;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.h1-rules {
  position: absolute;
  top: 5%;
  font-size: 4rem;
  right: 0%;
  left: 0%;
}

.h2-rules {
  min-width: 80%;
  /* margin-left: 15px; */
  margin: 13px;
  border: solid 15px rgb(105, 24, 105);
  height: 50%;
  margin-top: 25%;
  margin-bottom: 10%;
  font-size: 5vh;
}

.h2-p {
  font-size: 7.5vh;
  margin-top: 6%;
}

#estejogo {
  font-size: 1.6rem;
  padding: 1px;
  padding-top: 8%;
  padding-left: 0%;
  padding-right: 0%;
}

#naoolhe {
  font-size: 4.5vh;
  padding-top: 10%;
}

#modal--game {
  position: absolute;
  width: 43vh;
  height: 70vh;
  margin-top: -2%;
  padding: 1rem;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #ffffff;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.cat-overlay {
  position: absolute;
  top: 51%;
  left: 50%;
  width: 19rem;
  height: 28rem;
  background-color: white;
  border-radius: 20px;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(40px);
  z-index: 10;
}

/* #hand{  
   transform: translate(-50%, -50%);
  position: absolute;
  left: 55%;
  top: 40%;
  height: 55vh;
  width: 22rem;
  z-index: 10;
}  */

.cover1,
.cover2 {
  position: absolute;
  left: 1rem;
  top: 0rem;
  font-size: 5rem;
  color: #eeb928;
  cursor: pointer;
  border: none;
  background: none;
  z-index: 10;
}

.close-modal,
.close-game {
  position: absolute;
  right: 1rem;
  top: 0rem;
  font-size: 5rem;
  color: rgb(105, 24, 105);
  cursor: pointer;
  border: none;
  background: none;
  z-index: 10;
}

@font-face {
  font-family: 'Rocher';
  src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
}

.grays {
  font-palette: --Grays;
}

.purples {
  font-palette: --Purples;
}

.mint {
  font-palette: --Mint;
}

.divdifficulty {
  /* margin-top: 10%; */
  height: 28%;
  /* font-size: 50%; */
  padding-top: 25%;
  /* padding-right: 10%; */
  /* padding-left: 10%; */
  /* padding-bottom: 0%; */
  /* margin-left: 0%; */
  /* margin-right: 0%; */
  border: solid 7px rgb(105, 24, 105);
  background-color: #eeb928;

  box-shadow: 20px 9px 24px 2px rgba(243, 235, 235, 0.76);
  -webkit-box-shadow: 10px 9px 24px 2px rgba(0, 0, 0, 0.76);
  -moz-box-shadow: 10px 9px 24px 2px rgba(236, 227, 227, 0.76);
}

#difftext {
  margin-top: -8%;
  margin-bottom: 4%;
  font-size: 5.5vh;
}

.main-buttons {
  margin-top: 0%;
  margin-left: -4%;
  margin-right: -4%;
  /* display: flex; */
}


.btn {
  
  height: 22%;
  font-size: 1.1rem;
  padding: 2%;
  margin: 0%;
  margin-bottom: 3%;

  cursor: pointer;
  color: #ffffff;
  background-color: rgb(105, 24, 105);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  transition: all300ms ease;
  border-radius: 20px;
}

.button {
  font-family: Helvetica, sans-serif;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #eeb928;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px rgb(105, 24, 105);
  font-size: 10vh;
}

.button a {
  color: white;
  font-family: 'Rocher';
  font-weight: bold;
  font-size: 53px;
  text-align: center;
  text-decoration: none;
  display: block;
  position: relative;
  padding: 10px 15px;
}



.btn:hover {
  box-shadow: rgba(234, 235, 228, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.highscore {
  margin-bottom: 0em;
  font-size: 3.8vh;
  padding: 0;
  border-top: 1px solid black;
}

#btn--rules {
  margin-top: 12%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-right: 1rem;
  margin-left: 1rem;
  font-family: 'Courier New', Courier, monospace;
  /* font-size: 88%; */
  border: solid rgb(105, 24, 105);
}

#btn--play {
  margin-top: 5%;
  margin-right: 1rem;
  margin-left: 1rem;
  border: solid rgb(105, 24, 105);
}

.button:active {
  background-color: #acc944;
  box-shadow: 0 5px rgb(83, 27, 67);
  transform: translateY(4px);
}

.btn:active {
  background-color: rgb(83, 27, 67);
  box-shadow: 0 5px rgb(83, 27, 67);
  transform: translateY(4px);
}

.button:hover {
  background-color: #f8d063;
}

#youLost {
  position: relative;
  font-size: 8.5vh;
  top: 10%;
  padding-bottom: 0%;
}

.cat--pic {
  position: sticky;
  height: 50%;
  max-width: 16rem;
  min-width: 16rem;
  margin-top: 20%;
  border: solid 7px rgb(83, 27, 67);
  /* margin-bottom: 20px; */
  z-index: 15;
}

#displayScore {
  font-size: 6vh;
  /* padding: 0; */
  border-bottom: 1px solid black;
}

#back {
  top: -50vh;
  width: 4rem;
  height: 4rem;
  margin-bottom: 10rem;
  size: 40%;
}
#social-test {
  margin-top: -40%;
  margin-left: 93%;
  font-size: 4vh;
}

#social-test .social {
  padding-left: 0%;
}

#social-test li {
  color: rgb(253, 246, 252);
  list-style-type: none;
  display: inline-block;
  width: 4vh;
  height: 4vh;
  line-height: 32px;
  padding: 1%;
  border: 4px solid rgb(83, 27, 67);
  background-color: #20201f;
  cursor: pointer;
  border-radius: 10px;
  transition: ease 0.3s;
}

#social-test li:hover {
  color: #eeb928;
}

body {
  font-family: 'Rocher';
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@font-palette-values --Grays {
  font-family: Rocher;
  base-palette: 9;
}

@font-palette-values --Purples {
  font-family: Rocher;
  base-palette: 6;
}

@font-palette-values --Mint {
  font-family: Rocher;
  base-palette: 7;
}

.button {
  font-size: 25rem;
}
